@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

/* Leaflet styles */
.leaflet-container {
  height: 400px; /* ou auto selon ton design */
  width: 100%;
}

/* Custom global styles */
body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
}
